.columns > div {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 0;
}

.columns > div > div:last-of-type {
  padding-left: 2em;
  padding-right: 0.75em;
}

.columns > div > div:last-of-type h4 {
  font-size: var(--heading-font-size-s);
  font-weight: 600;
  line-height: 2.5;
}

.cards-card-body p {
  font-size: 14px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.columns > div > .columns-img-col {
  order: 1;
  max-width: 709px;
  max-height: 509px;
  box-sizing: border-box;
}

.columns > div > .columns-img-col picture {
  width: 100%;
  display: block;
  height: auto;
}

.columns > div > .columns-img-col img {
  width: 100%;
  display: block;
  height: auto;
}

.columns > div > div:last-of-type > p {
  font-size: 14px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > .columns-img-col {
    order: 0;
  }

  .columns > div > .columns-img-col picture {
    width: 580px;
    display: block;
    height: 540px;
  }

  .columns > div > .columns-img-col img {
    width: 100%;
    display: block;
    height: 540px;
  }

  .columns > div > div:last-of-type h2 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 0;
  }

  .columns > div > div:last-of-type {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}

@media (width >= 1120px) {
  .columns > div > .columns-img-col picture {
    width: 710px;
    display: block;
    height: 510px;
  }

  .columns > div > .columns-img-col img {
    width: 100%;
    display: block;
    height: 510px;
  }

  .columns > div > div:last-of-type h2 {
    margin-top: 27px;
    font-size: 36px;
  }

  .columns > div > div:last-of-type {
    padding-left: 2em;
    padding-right: 0.75em;
  }
}
@media (width <= 600px) {

  .columns > div > .columns-img-col picture {
    max-width: 580px;
    max-height: 540px;
  }

  .columns > div > div:last-of-type h2 {
    font-size: 24px;
  }

  .columns > div > div:last-of-type {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}