.search {
  display: flex;
  background: #ebebeb8a ;
  padding: 8px;
  align-items: center;
  border: 1px solid transparent;
  max-width: 166px;
}

.search:focus-within {
  background: #fff;
  border-color:#5f5e5e;
}

.search .search-input {
  border: 0;
  background: transparent;
  font-size: 14px;
  margin-left: 5px;
}

.search .search-input::placeholder {
  text-transform: uppercase;
}

.search .search-input:focus-visible  {
  border: 0;
  outline: none;
}
.search-box{
  display: flex;
}